*target*
*.jar
*.war
*.ear
*.class
*.trace.db
# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

JspJstlServlet/src/main/resources/test.mv.db
JspJstlServlet/src/main/resources/test.mv.db
Jdbc/src/main/resources/test.mv.db